div#inner-content-children-pedido-fabrica

<script></script>

script(type="template" id="template-children-pedido-fabrica-list")
    include cadastro/list.pug

<script></script>

script(type="template" id="template-children-pedido-fabrica-lancamento")
    include cadastro/novo-pedido.pug  