<script></script>

script(type="template" id="template-report-compras")
    +dataInicialFinal()
    .clearfix
    +statusNotaEntrada()
    +fabrica()
    .clearfix
    +filtroObrigatorioReport()
    .clearfix
    +submit()