div#form-pesquisa

    div.col-xs-12.col-md-4
        div.form-group
            label(for="data") Data Inicial
            input(type="text" required value!="<%= _.get(form, 'dataInicial') %>" class="datapicker form-control input-lg text-uppercase" name="pesquisa_dataInicial" id="pesquisa-dataInicial" placeholder="Data de Inicial")

    div.col-xs-12.col-md-4
        div.form-group
            label(for="data") Data Final
            input(type="text" value!="<%= _.get(form, 'dataFinal') %>" required class="datapicker form-control input-lg text-uppercase" name="pesquisa_dataFinal" id="pesquisa-dataFinal" placeholder="Data de Final")


    div.col-xs-12.col-md-6
        div.form-group.form-group-lg
            label(for="operacao") Operação
            select#pesquisa-operacao.form-control.input-lg.select2.select2-container(name="pesquisa_operacao")
            +overlay()


    div.clear-fix

    div.col-xs-12
        div.hidden-xs.hidden-sm
            div.btn-toolbar
                button.btn.btn-lg.input-lg.btn-warning.pesquisar Pesquisar
                button.btn.btn-lg.input-lg.btn-danger.limpar-pesquisa Limpar Pesquisa
        div.visible-xs.visible-sm
            button.btn.btn-danger.btn-block.input-lg.pesquisar Pesquisar
            button.btn.btn-warning.btn-block.input-lg.limpar-pesquisa Limpar Pesquisa