div#inner-content-children-nota-or-inventario

<script></script>

script(type="template" id="template-children-nota-fiscal-list")
    include cadastro/list.pug

<script></script>

script(type="template" id="template-children-nota-fiscal-lancamento")
    include cadastro/nova-nota.pug