div.col-xs-12.col-md-12
    div.form-group
        label(for="Produto") Produto
        input(type="text" class="input-lg form-control autocomplete-vtt ui-autocomplete-input text-uppercase" id="bloco-autocomplete-produto-nota-fiscal-entrada" placeholder="Produto")
        span(style="display:none" class="text-"): strong