div.col-xs-12.col-md-4
    div.form-group
        label(for="selecao_fornecedor") Fornecedor
        select#selecao-fornecedor.form-control.input-lg.select2.select2-container(name="selecao_fornecedor")
        +overlay()