




    //div(class="container")
        div(class="section")
            div(class="row")
                div(class="col s12" style={"margin-top":"50px !important"})
    //div(id="inner-content")
        
//block append scriptTemplate

    script(type="template" id="home-body-nav")
        include templates-underscore/home.pug
    
    script(type="template" id="produtos-body-nav")
        include templates-underscore/produtos.pug
    
    script(type="template" id="produtos-body-card-itens")
        include templates-underscore/card-produtos.pug

    script(type="template" id="apresentacao-produtos-body")
        include templates-underscore/apresentacao-produtos.pug