div#inner-content-children-pedido-cliente

<script></script>

script(type="template" id="template-children-pedido-cliente-list")
    include cadastro/list.pug

<script></script>

script(type="template" id="template-children-pedido-cliente-lancamento")
    include cadastro/novo-pedido.pug  