<% if(typeof(grupos) !== 'undefined'){ %>
<% _.each(grupos, function(item) { %>
    div.visible-xs.visible-sm.list-group-item.list-group-item-action.flex-column.align-items-start.row-item-list(data-item!="<%- JSON.stringify(item) %>")

            div.d-flex.w-100.justify-content-between
                h5.mb-1: <strong>Descrição:</strong> <%= item.descricao %>

                h5.mb-1: <strong>Grupo: </strong> <%= _.get(item, 'breadCrumb') %>

                button.btn.btn-success.btn-editar-cadastro.btn-block.input-lg(type="button") Editar

                button.btn.btn-danger.btn-remover-cadastro.btn-block.input-lg(type="button") Remover
<% }) %>
<% } %>    