include ../includes/componentes.pug

<!DOCTYPE html>
html(lang="en")
    
    +header()

    body
        table(style={"width":"100%", "background-color":"#006699"}): thead: tr: th(style={"padding": "30px", "width":"100%", "text-align":"center","color":"#FFF"}) HOS SISTEMAS

        
        table(style={"width": "100%"}): tbody: tr: td(style={"padding": "50px", "width":"100%", "text-align":"center", "color":"#006699"}): h1 Aviso HOS: Tivemos novos produtos inseridos no sistema de Tributos.

        