table.table.table-striped.produtos-lancados-table
    tbody
        tr
            th Cód. Ref.
            th Descrição
            th UN.
            th Custo
            th QTD.
            th Bon.
            th SubTotal
            th Opções
        <% if(typeof(lancamentos) !== 'undefined'){ %>
        <% _.each(lancamentos, function(item) { %>
        tr.row-item-list(data-item!="<%- JSON.stringify(item) %>")
            td <%= item.produto.referencia %>
            td <%= item.produto.descricao %>
            td <%= item.tipoUnidade %>
            td <%= item.custo %>
            td <%= item.quantidade %>
            td <%=  App_vendorAdmin.StringUtil.booleanToString(item.isBonificado) %>
            td <%=  App_vendorAdmin.NumberUtil.numberFormat(item.total, 2) %>
            td
                button.btn.btn-danger.remover-produto-lancado(type="button") Remover
        <% }) %>
        <% } %>