div#inner-content-children-financeiro-despesa

<script></script>

script(type="template" id="template-children-financeiro-despesa-list")
    include cadastro/list.pug

<script></script>

script(type="template" id="template-children-financeiro-despesa-lancamento")
    include cadastro/nova-despesa.pug    