div#inner-content-children-cedente

<script></script>

script(type="template" id="template-children-cadastro-list-cedentes")
    include include-lista/list.pug

<script></script>

script(type="template" id="template-children-cadastro-cedentes")
    include include-lancamento/form.pug