div#inner-content-children-grupo


<script></script>

script(type="template" id="template-children-cadastro-list-grupos")
    include ./include-lista/list.pug
    
<script></script>

script(type="template" id="template-children-cadastro-grupos")
    include ./include-lancamento/form.pug

<script></script>

script(type="template" id="template-children-cadastro-list-grupos-repasse-ecommerce")
    include ./include-lista-repasse-ecommerce/list.pug