div.col-xs-12.col-md-12
    div.form-group
        label(for="Cliente") Cliente
        input(type="text" class="input-lg form-control autocomplete-vtt ui-autocomplete-input text-uppercase" id="bloco-autocomplete-pedido-cliente" placeholder="Cliente")
        span(style="display:none" class="text-"): strong