div.box.box-primary.box-solid
    div.box-header.with-border
        h3.box-title Informação Cliente
        div.box-tools.pull-right
            button.btn.btn-box-tool(type="button" data-widget="collapse"): i.fa.fa-minus
        //    
            button.btn.btn-box-tool(type="button" data-widget="remove"): i.fa.fa-times

    div.box-body.bg-gray-active.color-palette
        div.col-xs-12.col-md-6
            div.form-group
                label.text-left Razão Social
                input(type="text" required value!="<%= _.get(pessoa,'cliente.razaoSocial') %>" class="form-control input-lg text-uppercase" readonly="readonly")

        div.col-xs-12.col-md-6
            div.form-group
                label.text-left Nome Fantasia
                input(type="text" required value!="<%= _.get(pessoa,'cliente.nomeFantasia') %>" class="form-control input-lg text-uppercase" readonly="readonly")


        div.col-xs-12.col-md-6
            div.form-group
                label.text-left Endereço
                input(type="text" required value!="<%= _.get(pessoa,'endereco.logradouro') %>" class="form-control input-lg text-uppercase" readonly="readonly")

        div.col-xs-12.col-md-6
            div.form-group
                label.text-left Bairro
                input(type="text" required value!="<%= _.get(pessoa,'endereco.bairro') %>" class="form-control input-lg text-uppercase" readonly="readonly")

        div.col-xs-12.col-md-6
            div.form-group
                label.text-left Municipio
                input(type="text" required value!="<%= _.get(pessoa,'endereco.municipio.descricao') %>" class="form-control input-lg text-uppercase" readonly="readonly")

        div.col-xs-12.col-md-2
            div.form-group
                label.text-center UF
                input(type="text" required class="text-center form-control input-lg text-uppercase" value!="<%= _.get(pessoa,'endereco.municipio.estado.uf') %>"  readonly="readonly")

        
    div.box-footer.bg-gray-active.color-palette

        div.col-xs-12
            div.form-group
                button.btn.btn-lg.input-lg.btn-warning#selecionar-outro-cliente Selecionar Outro Cliente