div#form-pesquisa

    +autoCompleteAgencia()

    +autoCompleteBanco()

    div.col-xs-12.col-md-6
        div.form-group
            label.text-left CNPJ
            input(type="text" required value!="<%= _.get(form,'cnpj') %>" class="form-control input-lg text-uppercase" name="pesquisa_cnpj" id="pesquisa-cnpj")


    +municipioPesquisa()

    div.col-xs-12.col-md-3
        div.form-group.form-group-lg
            label(for="") Ativo
            select#pesquisa-status.form-control.input-lg(name="pesquisa_status")
            +overlay() 


    div.col-xs-12
        input(type="hidden" name="pesquisa_id" value!="<%= _.get(form, 'id') %>")
        input(type="hidden" name="pesquisa_bancoId" value!="<%= _.get(form, 'bancoId') %>")


    div.clear-fix

    div.col-xs-12
        div.hidden-xs.hidden-sm
            div.btn-toolbar
                button.btn.btn-lg.input-lg.btn-warning.pesquisar Pesquisar
                button.btn.btn-lg.input-lg.btn-danger.limpar-pesquisa Limpar Pesquisa
        div.visible-xs.visible-sm
            button.btn.btn-danger.btn-block.input-lg.pesquisar Pesquisar
            button.btn.btn-warning.btn-block.input-lg.limpar-pesquisa Limpar Pesquisa