div#block-form-vendedor
    div.row
        div.col-xs-12
            div.box.box-primary
            
                div.box-header.with-border
                    h3.box-title Vendedores

                div.box-body

                    div.row
                        div.col-xs-12
                            a.btn.btn-app(href="#home")
                                i.fa.fa-home
                                |Início

                            a.btn.btn-app(href="#cadastro-de-vendedores/pesquisa")
                                i.fa.fa-arrow-left
                                |Voltar

                            a.btn.btn-app#btn-novo-cadastro
                                i.fa.fa-plus
                                |Novo Vendedor


    div.row
        div.col-xs-12
            div.box.box-primary

                div.box-header.with-border
                    h3.box-title Cadastro de Vendedores

                form(role="form" method="POST" id="form-cadastro" autocomplete="off")
                    div.box-body

                        div#row-item(data-item!="<%- JSON.stringify(form) %>" style={'display':'none'})

                        

                        div.col-xs-12.col-md-6
                            div.form-group
                                label(for="nomeFantasia") Nome Completo
                                input(type="text" required value!="<%= _.get(form,'vendedor.nomeCompleto') %>" class="form-control input-lg" name="vendedor_nomeCompleto" id="nome_completo" placeholder="Nome Completo")
                        
                        div.col-xs-12.col-md-6
                            div.form-group
                                label(for="tipoPessoa") Tipo Pessoa
                                select.form-control.input-lg(name="vendedor_tipoPessoa" id="tipo-pessoa")
                                    option(value="J" id="tipoPessoaJuridica") Jurídica
                                    option(value="F" id="tipoPessoaFisica") Física
                                
                        div.col-xs-12.col-md-6#bloco-pessoa-juridica
                            div.form-group
                                label(for="cnpj") CNPJ
                                input(type="text" required value!="<%= _.get(form, 'vendedor.cnpjCpf') %>" class="form-control input-lg cnpj-mask" name="cnpj" id="cnpj" placeholder="CNPJ")

                        div.col-xs-12.col-md-6#bloco-pessoa-fisica(style={display:'none'})
                            div.form-group
                                label(for="cpf") CPF
                                input(type="text" required value!="<%= _.get(form, 'vendedor.cnpjCpf') %>" class="form-control input-lg cpf-mask" name="cpf" id="cpf" placeholder="CPF")



                        div.col-xs-12.col-md-6
                            div.form-group
                                label(for="observacao") Observações
                                textarea(rows="5" class="form-control input-lg" name="vendedor_observacao" id="observacao") <%= _.get(form, 'vendedor.observacao') %>
            
                        div.col-xs-12.col-md-6
                            #inner-telefone-vendedor

                        div.clearfix

                        .col-xs-12
                            .box.box-solid.box-warning
                                .box-header.with-border
                                    h3.box-title Endereço Principal

                        include ../../../../extras/endereco-form.pug

                        div.clearfix

                        .col-xs-12
                            div#inner-content-children-endereco


                        div.col-xs-12
                            input(type="hidden" value!="<%= _.get(form,'id') %>" class="form-control input-sm hidden" name="id" id="id")
                            input(type="hidden" value!="<%= _.get(form,'uuid') %>" class="form-control input-sm hidden" name="uuid" id="uuid")
                            input(type="hidden" value!="<%= _.get(form,'endereco.id') %>" class="form-control input-sm hidden" name="endereco_id" id="endereco-id")
                            input(type="hidden" value!="<%= _.get(form,'vendedor.id') %>" class="form-control input-sm hidden" name="vendedor_id" id="vendedor-id")

                    div.box-footer

                        div.col-xs-12.col-md-12
                            button(type="button" class="btn btn-primary btn-lg input-lg" id="save") Salvar