div#inner-content-children-financeiro-cheque

<script></script>

script(type="template" id="template-children-cadastro-list-financeiro-cheque")
    include include-lista/list.pug

<script></script>

script(type="template" id="template-children-cadastro-financeiro-cheque")
    include include-lancamento/form.pug


include ./includes/dados-conta-bancaria-agencia.pug

include ./includes/form-repasse.pug

include ./includes/form-deposito.pug

include ./includes/historico.pug

include ./includes/form-devolucao.pug