div#inner-content-children-vendedor

<script></script>

script(type="template" id="template-children-cadastro-list-vendedores")
    include include-lista/list.pug

<script></script>

script(type="template" id="template-children-cadastro-vendedores")
    include include-lancamento/form.pug