<script></script>

script(type="template" id="template-report-cliente-geral")
    +autoCompleteCliente()
    .clearfix
    +municipio()
    .clearfix
    +id()
    +statusCadastro()
    .clearfix
    +filtroObrigatorioReport()
    .clearfix
    +submit()