extends ../../../templates/admin-lte/template.pug

include extras/mixin.pug

include extras/mixin-form.pug

block styleTemplateBeforeInit
    meta(name="google-site-verification" content="eMVej3Mt9BofR58LgGM5U8-SfDiWurubIf4eqvmK5n0")
    link(href="/public/libraries/bower/select2/dist/css/select2.min.css", rel="stylesheet")
    link(href="/public/libraries/bower/select2-bootstrap-theme/dist/select2-bootstrap.min.css", rel="stylesheet")
    link(href="/public/libraries/bower/jquery-ui/themes/smoothness/jquery-ui.min.css", rel="stylesheet")
    link(rel="stylesheet" href="/public/libraries/bower/jstree/dist/themes/default/style.min.css")
    link(rel="manifest", href="/public/manifest.json")


block header
    +headerMasterTemplate()
    div#tokenAccess(style={"display":"none"}) #{tokenAccess}



block menuLeft
    include extras/menu-left.pug

block contentHeader
    div#inner-content-header

block content
    div#inner-content


block append scriptLocal

    include extras/underscore/underscore.pug
    
    script(type="template" id="template-home")
        include home/index.pug

    script(type="template" id="template-cadastro-fabrica")
        include fabrica/fabrica.pug
    
    script(type="template" id="template-cadastro-cliente")
        include cliente/cliente.pug

    script(type="template" id="template-cadastro-cedente")
        include cedente/cedente.pug

    script(type="template" id="template-cadastro-vendedor")
        include vendedor/vendedor.pug

    script(type="template" id="template-cadastro-inventario")
        include ajuste-inventario/cadastro.pug

    script(type="template" id="template-cadastro-volume")
        include volume/cadastro.pug

    script(type="template" id="template-cadastro-usuario")
        include usuario/cadastro.pug
    
    script(type="template" id="template-cadastro-tipo-unidade")
        include tipo-unidade/cadastro.pug

    script(type="template" id="template-cadastro-grupo")
        include grupo/cadastro.pug

    script(type="template" id="template-cadastro-produto")
        include produto/produto.pug

    script(type="template" id="template-compras-nota-fiscal")
        include compra/compra.pug

    script(type="template" id="template-pedidos-cliente")
        include pedido/pedido.pug

    script(type="template" id="template-pedidos-fabrica")
        include pedido-fabrica/pedido.pug

    script(type="template" id="template-financeiro-receita")
        include financeiro/receita/receita.pug

    script(type="template" id="template-financeiro-despesa")
        include financeiro/despesa/despesa.pug

    script(type="template" id="template-financeiro-cadastro-banco")
        include financeiro/banco/cadastro.pug

    script(type="template" id="template-financeiro-cadastro-agencia")
        include financeiro/agencia/cadastro.pug

    script(type="template" id="template-financeiro-cadastro-conta-bancaria")
        include financeiro/conta-bancaria/cadastro.pug

    script(type="template" id="template-financeiro-cadastro-cheque")
        include financeiro/cheque/cadastro.pug

    script(type="template" id="template-sincronizacao")
        include sincronizacao/sincronizacao.pug

block scriptTemplateBeforeInit
    script(src="/public/libraries/bower/chart.js/Chart.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.1/mobile-detect.min.js")
    script(src="/public/libraries/bower/select2/dist/js/select2.full.min.js")
    script(src="/public/libraries/bower/jquery.inputmask/dist/min/inputmask/inputmask.min.js")
    script(src="/public/libraries/bower/jquery.inputmask/dist/min/inputmask/jquery.inputmask.min.js")
    script(src="/public/libraries/bower/jquery.inputmask/dist/min/inputmask/inputmask.numeric.extensions.min.js")
    script(src="/public/libraries/bower/jquery-price-format/jquery.priceformat.min.js")
    script(src="/public/libraries/bower/moment/min/moment.min.js")
    script(src="/public/libraries/bower/jstree/dist/jstree.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dexie/3.0.0-alpha.3/dexie.min.js")
    
        
block scriptAfter
    script(src="/public/dist/vendorAdmin.bundle.js")
    script(src="/public/dist/aggileDistribuidoraAdmin.bundle.js")
