<script></script>

script(type="template" id="template-report-planilha-precos")
    +inputText({label: 'Id', name:'id', id:'id'})
    .clearfix
    +inputText({label: 'Range', name:'range', id:'range'})
    .clearfix
    +submit()