<% if(typeof(produtos) !== 'undefined'){ %>
<% _.each(produtos, function(item) { %>

    div(class!="visible-xs visible-sm list-group-item list-group-item-action flex-column align-items-start row-item-list row-item-<%= item.id %>" data-item!="<%- JSON.stringify(item) %>")

        div.d-flex.w-100.justify-content-between
            h5.mb-1: <strong>Descrição:</strong> <%= item.descricao %>

            h5.mb-1 
                strong Ecommerce
                div.col-xs-12.col-lg-12
                    div.form-group.form-group-lg
                        select.produto-ecommerce-is-ecommerce.form-control.input-lg(name="produtoEcommerce_isEcommerce")
                        +overlay()

            h5.mb-1
                strong Destaque
                div.col-xs-12.col-lg-12
                    div.form-group
                        select.produto-ecommerce-is-destaque.form-control.input-lg(name="produtoEcommerce_isDestaque")
                        +overlay()


            h5.mb-1
                strong Preco Venda
                div.col-xs-12.col-lg-12
                    div.form-group
                        input.produto-ecommerce-preco-venda.form-control.input-lg.currency(name="produtoEcommerce_precoVenda" value!="<%= _.get(item, 'produtoEcommerce.precoVenda') %>")

            h5.mb-1
                strong Promoção
                div.col-xs-12.col-lg-12
                    div.form-group
                        input.produto-ecommerce-promocao.form-control.input-lg.currency(name="produtoEcommerce_promocao" value!="<%= _.get(item, 'produtoEcommerce.promocao') %>")

            h5.mb-1
                strong Estoque
                div.col-xs-12.col-lg-12
                    div.form-group
                        input.produto-commerce-estoque.form-control.input-lg.integer(name="produtoEcommerce_estoque" value!="<%= _.get(item, 'produtoEcommerce.estoque') %>")

            

            button.btn.btn-success.btn-mais-opcoes.btn-block.input-lg(type="button") Mais Campos

<% }) %>
<% } %>