div#inner-content-children-financeiro-receita

<script></script>

script(type="template" id="template-children-financeiro-receita-list")
    include cadastro/list.pug

<script></script>

script(type="template" id="template-children-financeiro-receita-lancamento")
    include cadastro/nova-receita.pug    