div#block-form-financeiro-conta-bancaria
    div.row
        div.col-xs-12
            div.box.box-primary
            
                div.box-header.with-border
                    h3.box-title Contas Bancárias

                div.box-body

                    div.row
                        div.col-xs-12
                            a.btn.btn-app(href="#home")
                                i.fa.fa-home
                                |Início

                            a.btn.btn-app(href="#financeiro/cadastro-de-contas-bancarias/pesquisa")
                                i.fa.fa-arrow-left
                                |Contas Bancárias Cadastradas

                            a.btn.btn-app.link-navegacao(href="#financeiro/cadastro-de-contas-bancarias/novo-cadastro")
                                    i.fa.fa-plus
                                    |Nova Conta Bancária


    div.row
        div.col-xs-12
            div.box.box-primary

                div.box-header.with-border
                    h3.box-title Cadastro de Contas Bancárias

                form(role="form" method="POST" id="form-cadastro" autocomplete="off")
                    div.box-body

                        div#row-item(data-item!="<%- JSON.stringify(form) %>" style={'display':'none'})


                        div.col-xs-12.col-md-12
                            div.form-group
                                +radioButtonInline('Tipo Cadastro', [
                                    {value:'sem-associacao', name:'tipoCadastro',text:'Sem associação'},
                                    {value:'fabrica', name:'tipoCadastro',text:'Fábrica'},
                                    {value:'cliente', name:'tipoCadastro',text:'Cliente'},
                                    {value:'cedente', name:'tipoCadastro',text:'Cedente'},
                                    {value:'vendedor', name:'tipoCadastro',text:'Vendedor'},
                                    ], {class: 'tipo-cadastro'})
                        

                        #bloco-tipo-cadastro-cliente
                            +autoComplete('cliente')

                        #bloco-tipo-cadastro-fabrica
                            +autoComplete('fabrica')

                        #bloco-tipo-cadastro-cedente
                            +autoComplete('cedente')

                        #bloco-tipo-cadastro-vendedor
                            +autoComplete('vendedor')


                        div.clearfix


                        div.col-xs-12.col-md-6

                            div.form-group
                                label(for="nome") Titular
                                input(type="text" required value!="<%= _.get(form,'titular') %>" class="form-control input-lg" name="titular" id="titular" placeholder="Titular")
                        
                        div.col-xs-12.col-md-4
                            div.form-group
                                label(for="numero") Nº Conta
                                input(type="number" required value!="<%= _.get(form, 'numero') %>" class="form-control input-lg" name="numero" id="numero" placeholder="Número Agência")

                        div.col-xs-12.col-md-2
                            div.form-group
                                label(for="dv") DV
                                input(type="number" required value!="<%= _.get(form, 'dv') %>" class="form-control input-lg" name="dv" id="dv" placeholder="")


                        +autoComplete('agencia')
                        
                        div.col-xs-12.col-md-6
                            div.form-group
                                label(for="tipoPessoa") Tipo Pessoa
                                select.form-control.input-lg.input-secundario(name="tipoPessoa" id="tipo-pessoa")
                                    option(value="J" id="tipoPessoaJuridica") Jurídica
                                    option(value="F" id="tipoPessoaFisica") Física
                                
                        div.col-xs-12.col-md-6#bloco-pessoa-juridica
                            div.form-group
                                label(for="cnpj") CNPJ
                                input(type="text" required value!="<%= _.get(form, 'cnpjCpf') %>" class="input-secundario form-control input-lg cnpj-mask" name="cnpj" id="cnpj" placeholder="CNPJ")

                        div.col-xs-12.col-md-6#bloco-pessoa-fisica(style={display:'none'})
                            div.form-group
                                label(for="cpf") CPF
                                input(type="text" required value!="<%= _.get(form, 'cnpjCpf') %>" class="input-secundario form-control input-lg cpf-mask" name="cpf" id="cpf" placeholder="CPF")

                        div.col-xs-12.col-md-3
                            div.form-group.form-group-lg
                                label(for="status") Ativo
                                select#status.form-control.input-lg(name="status")
                                +overlay()

                        div.col-xs-12.col-md-6.col-md-offset-3
                            div.form-group
                                label(for="observacao") Observações
                                textarea(rows="5" class="form-control input-lg" name="observacao" id="observacao") <%= _.get(form, 'observacao') %>
            
                        div.col-xs-12.col-md-6
                            #inner-telefone-financeiro-conta-bancaria

                        div.clearfix

                        div.col-xs-12
                            input(type="hidden" value!="<%= _.get(form,'id') %>" class="form-control input-sm hidden" name="id" id="id")
                            input(type="hidden" value!="<%= _.get(form,'pessoaAgenciaId') %>" class="form-control input-sm hidden" name="pessoaAgenciaId" id="pessoa-agencia-id")
                            input(type="hidden" value!="<%= _.get(form,'pessoaId') %>" class="form-control input-sm hidden" name="pessoaId" id="pessoa-id")
                            input(type="hidden" value!="<%= _.get(form,'uuid') %>" class="form-control input-sm hidden" name="uuid" id="uuid")

                    div.box-footer

                        div.col-xs-12.col-md-12
                            button(type="button" class="btn btn-primary btn-lg input-lg" id="save") Salvar