<% if(typeof(vendedores) !== 'undefined'){ %>
<% _.each(vendedores, function(item) { %>

    div.visible-xs.visible-sm.list-group-item.list-group-item-action.flex-column.align-items-start.row-item-list(data-item!="<%- JSON.stringify(item) %>")

        div.d-flex.w-100.justify-content-between
            h5.mb-1: <strong>Nome:</strong> <%= item.vendedor.nomeCompleto %>

            h5.mb-1: <strong>CNPJ:</strong> <%= item.vendedor.cnpjCpf %>

            h5.mb-1: <strong>Bairro:</strong> <%= _.get(item, 'endereco.bairro') %>

            h5.mb-1: <strong>Endereço:</strong> <%= _.get(item, 'endereco.logradouro') %>

            h5.mb-1: <strong>Telefone:</strong> <%= item.telefones.map((item) => { return item.numero  }) %>

            button.btn.btn-success.btn-editar-cadastro.btn-block.input-lg(type="button"): i.fa.fa-pencil
            button.btn.btn-info.google-maps.btn-block.input-lg(type="button"  data-position!="<%= _.get(item, 'endereco.latitudeLongitude') %>"): i.fa.fa-map-marker

<% }) %>
<% } %>