div#inner-content-children-cliente

<script></script>

script(type="template" id="template-children-cadastro-list-clientes")
    include include-lista/list.pug

<script></script>

script(type="template" id="template-children-cadastro-clientes")
    include include-lancamento/form.pug