div#inner-content-children

<script></script>

script(type="template" id="template-children-cadastro-list-usuarios")
    include includes/cadastro/list.pug

<script></script>

script(type="template" id="template-children-cadastro-usuarios")
    include includes/cadastro/form.pug