footer(class="page-footer   mdb-color darken-3 center-on-small-only text-center font-small mt-4 wow fadeIn")

    div.pt-4(style={"height": "10px"})

    div.footer-copyright
        div(class="col-12 text-center") © 2017 - <script> document.write( new Date().getFullYear() )</script> Copyright Aggile Distribuidora &nbsp
        div(class="col-12 text-center text-white" style={"margin-top":"10px"}) 
            |CNPJ 29.358.560/0001-02 &nbsp - &nbsp
            a(href="mailto:aggiledistribuidora@gmail.com" style={"text-decoration": "none"}) aggiledistribuidora@gmail.com
        div(class="col-12" style={"margin-top":"20px"})
            |Desenvolvido por 
            a(href="https://www.linkedin.com/in/volnei-tonato-26223541/" target="_blanck") Volnei Tonato