div#inner-content-children-financeiro-conta-bancaria

<script></script>

script(type="template" id="template-children-cadastro-list-financeiro-conta-bancaria")
    include include-lista/list.pug

<script></script>

script(type="template" id="template-children-cadastro-financeiro-conta-bancaria")
    include include-lancamento/form.pug