div#block-list-volume
    div.row
        div.col-xs-12
            div.box.box-primary
            
                div.box-header.with-border
                    h3.box-title Volumes

                div.box-body

                    div.row
                        div.col-xs-12
                            a.btn.btn-app(href="#home")
                                i.fa.fa-home
                                |Início

                            a.btn.btn-app#btn-novo-cadastro(href="#cadastro-de-volumes/novo-cadastro")
                                i.fa.fa-plus
                                |Novo Cadastro

    div.row
        div.col-xs-12
            div.box.box-solid.box-success
                div.box-header.with-border
                    h3.col-md-6.col-xs-12.box-title Pesquisa

                    div.box-tools.pull-right
                        button.btn.btn-box-tool(type='button', data-widget='collapse'): i.fa.fa-minus(style={'font-size':'24px'})
                
                div.box-body#inner-form-pesquisa-volumes


    div.row
        div.col-xs-12
            div.box.box-primary

                div.box-header.with-border
                    h3.col-md-6.col-xs-12.box-title Lista de Volumes

                div.box-body

                    div.hidden-xs.hidden-sm

                        div.data-table

                        
                            input(type="text" autocomplete="off" name="search" class="form-control search-fast" placeholder="Pesquisa Rápida")

                            table.table.table-striped.table-sorter
                                thead
                                    tr
                                        th 
                                            a(href="javascript:void(0)" class="order-by-column" data-type="string" data-value="descricao" data-order="asc") Nome
                                                span.fa.fa-angle-down
                                        th Opções
                                tbody#inner-volumes-cadastrados-desktop.table-sorter-row
                            
                                tfooter
                                    tr
                                        td(colspan="8")
                                            div.btn-toolbar
                                                button.btn.btn-lg.input-lg.bg-purple.btn-block.carregar-mais(disabled="disabled") Carregar Mais


                    div.visible-xs.visible-sm
                        div.list-group
                            div#inner-volumes-cadastrados-mobile

                        div.btn-toolbar
                            button.btn.btn-lg.input-lg.bg-purple.btn-block.carregar-mais(disabled="disabled") Carregar Mais
                +overlay()

<script></script>
script(type="template" id="template-list-table-volumes-cadastrados-desktop")
    include includes/table-list-desktop.pug

<script></script>
script(type="template" id="template-list-table-volumes-cadastrados-mobile")
    include includes/table-list-mobile.pug

<script></script>
script(type="template" id="template-volumes-form-pesquisa")
    include includes/form-pesquisa.pug          