
div.col-xs-12.col-md-12
    div.form-group
        label(for="") Descrição
        input(type="text" required value!="<%= _.get(form,'descricao') %>" class="form-control input-lg text-uppercase" name="descricao" id="descricao" placeholder="Descrição")

div.col-xs-12.col-md-4
    div.form-group
        label.text-center Valor
        input(type="text" required value!="<%= _.get(form,'valor') %>" class="form-control input-lg text-uppercase currency" name="valor" id="valor" placeholder="Valor")

div.col-xs-12.col-md-4
    div.form-group
        label.text-center Número NF
        input(type="text" required value!="<%= _.get(form,'nf') %>" class="form-control input-lg text-uppercase" name="nf" id="nf" placeholder="Número NF")

div.col-xs-12.col-md-4
    div.form-group
        label.text-center Status
        input(type="text" disabled="disabled" required value!="<%= _.get(form,'status') %>" class="form-control input-lg text-uppercase" name="status" id="status" placeholder="Status")


div.clearfix

div.col-xs-12.col-md-12
    div.form-group
        label(for="observacao") Observação
        textarea#observacao(class="form-control input-lg text-uppercase" name="observacao", cols="5", rows="5") <%= _.get(form,'observacao') %>


div.clearfix

div.col-xs-12.col-md-12#block-botoes-devedor-contas-a-receber(style={'display':'none'})
    .hidden-xs.hidden-sm
        .btn-toolbar
            button.btn.btn-danger.lancar-historico-devedor(type="button" data-attr="devedor") Lançar como Devedor
            button.btn.btn-danger.lancar-historico-devedor(type="button" data-attr="cartorio") Lançar para Cartório
    
    .visible-xs.visible-sm
        button.btn.btn-danger.lancar-historico-devedor.btn-block.input-lg(type="button" data-attr="devedor") Lançar como Devedor
        button.btn.btn-danger.lancar-historico-devedor.btn-block.input-lg(type="button" data-attr="cartorio") Lançar para Cartório

div.col-xs-12.col-md-12#block-botoes-voltar-conta-pentente-contas-a-receber(style={'display':'none'})
    .hidden-xs.hidden-sm
        .btn-toolbar
            button.btn.btn-success.lancar-historico-devedor(type="button" data-attr="aberta") Retornar Conta para Aberta
    
    .visible-xs.visible-sm
        button.btn.btn-success.lancar-historico-devedor.btn-block.input-lg(type="button" data-attr="aberta") Retornar Conta para Aberta



div.clearfix
            
input(type="hidden" value!="<%= _.get(form,'id') %>" disabled readonly name="id")
input(type="hidden" value!="<%= _.get(form,'pessoaId') %>" disabled readonly name="pessoaId")

