#inner-home
    div.box.box-primary

        div.box-header.with-border
            h3.box-title Início
        
        .box-body

            .box.box-warning
                .box-header
                    h3.box-title Acesso Rápido ao Sistema
                .box-body


                    .col-md-4.col-xs-12.col-sm-6
                        .box.box-success.box-solid
                            .box-header
                                h3.box-title Pedidos Cliente
                            .box-body

                                a.btn.btn-app(href="#pedidos/cliente/novo")
                                    i.fa.fa-edit
                                    |  Novo
                                a.btn.btn-app(href="#pedidos/cliente/pesquisa")
                                    i.fa.fa-list
                                    |  Listar
                                a.btn.btn-app(href="reports/pedidos#report-pedidos")
                                    i.fa.fa-pie-chart
                                    |  Relatório
                    .col-md-4.col-xs-12.col-sm-6
                        .box.box-success.box-solid
                            .box-header
                                h3.box-title Pedidos Fábrica
                            .box-body

                                a.btn.btn-app(href="#pedidos/fabrica/novo")
                                    i.fa.fa-edit
                                    |  Novo
                                a.btn.btn-app(href="#pedidos/fabrica/pesquisa")
                                    i.fa.fa-list
                                    |  Listar
                                a.btn.btn-app(href="reports/pedidos#report-pedidos-fabrica")
                                    i.fa.fa-pie-chart
                                    |  Relatório

                    .col-md-4.col-xs-12.col-sm-6
                        .box.box-success.box-solid
                            .box-header
                                h3.box-title Produtos
                            .box-body

                                a.btn.btn-app(href="#cadastro-de-produtos/novo-cadastro")
                                    i.fa.fa-edit
                                    |  Novo
                                a.btn.btn-app(href="#cadastro-de-produtos/pesquisa")
                                    i.fa.fa-list
                                    |  Listar
                                a.btn.btn-app(href="reports/produtos#report-produtos")
                                    i.fa.fa-pie-chart
                                    |  Relatório

                    .col-md-4.col-xs-12.col-sm-6
                        .box.box-success.box-solid
                            .box-header
                                h3.box-title Clientes
                            .box-body

                                a.btn.btn-app(href="#cadastro-de-clientes/novo-cadastro")
                                    i.fa.fa-edit
                                    |  Novo
                                a.btn.btn-app(href="#cadastro-de-clientes/pesquisa")
                                    i.fa.fa-list
                                    |  Listar
                                a.btn.btn-app(href="reports/clientes#report-clientes")
                                    i.fa.fa-pie-chart
                                    |  Relatório

                    .col-md-4.col-xs-12.col-sm-6
                        .box.box-success.box-solid
                            .box-header
                                h3.box-title Contas a Receber
                            .box-body

                                a.btn.btn-app(href="#financeiro/contas-a-receber/nova")
                                    i.fa.fa-edit
                                    |  Nova
                                a.btn.btn-app(href="#financeiro/contas-a-receber/pesquisa")
                                    i.fa.fa-list
                                    |  Listar
                                a.btn.btn-app(href="reports/receitas#report-receitas")
                                    i.fa.fa-pie-chart
                                    |  Relatório

                    .col-md-4.col-xs-12.col-sm-6
                        .box.box-success.box-solid
                            .box-header
                                h3.box-title Contas a Pagar
                            .box-body

                                a.btn.btn-app(href="#financeiro/contas-a-pagar/nova")
                                    i.fa.fa-edit
                                    |  Nova
                                a.btn.btn-app(href="#financeiro/contas-a-pagar/pesquisa")
                                    i.fa.fa-list
                                    |  Listar
                                a.btn.btn-app(href="reports/despesas#report-despesas")
                                    i.fa.fa-pie-chart
                                    |  Relatório