div#inner-content-children-produto

<script></script>

script(type="template" id="template-children-cadastro-list-produtos")
    include ./cadastro/include-lista/list.pug

<script></script>

script(type="template" id="template-children-cadastro-produtos")
    include ./cadastro/include-lancamento/form.pug

<script></script>

script(type="template" id="template-children-cadastro-list-produtos-repasse-ecommerce")
    include ./cadastro/include-lista-repasse-ecommerce/list.pug