div#inner-content-children

<script></script>

script(type="template" id="template-children-inventario")
    include inventario/inventario.pug

<script></script>

script(type="template" id="template-children-nota-fiscal-entrada")
    include nota-fiscal/nota-fiscal.pug 