div#inner-content-children-fabrica

<script></script>

script(type="template" id="template-children-cadastro-list-fabricas")
    include include-lista/list.pug

<script></script>

script(type="template" id="template-children-cadastro-fabricas")
    include include-lancamento/form.pug