<% if(typeof(agencias) !== 'undefined'){ %>
<% _.each(agencias, function(item) { %>

    tr.row-item-list(data-item!="<%- JSON.stringify(item) %>")
        td <%= item.titular %>
        td <%= item.numero %> / <%= item.dv %>
        td <%= item.cnpjCpf %>
        td <%= _.get(item, 'pessoaAgencia.agencia.banco.descricao') %>
        td <%= _.get(item, 'pessoaAgencia.agencia.nome') %>
        td <%= item.telefones.map((item) => { return item.numero }) %>
        td <%= App_vendorAdmin.StringUtil.booleanToString(item.status) %>
        td
            div.btn-toolbar
                button.btn.btn-success.btn-editar-cadastro(type="button"): i.fa.fa-pencil
                button.btn.btn-info.google-maps(type="button" data-position!="<%= _.get(item, 'endereco.latitudeLongitude') %>"): i.fa.fa-map-marker
<% }) %>
<% } %>
