div#form-pesquisa
    div.col-xs-12.col-md-12
        div.form-group
            label.text-left Pesquisa Geral
            input(type="text" required value!="<%= _.get(form,'descricao') %>" class="form-control input-lg text-uppercase" name="pesquisa_volume_descricao" id="pesquisa-volume-descricao" placeholder="Pesquise aqui para abrir o cadastro de Volumes")