div#inner-content-children-tipo-unidade

<script></script>

script(type="template" id="template-children-cadastro-list-tipos-unidades")
    include include-lista/list.pug

<script></script>

script(type="template" id="template-children-cadastro-tipos-unidades")
    include include-lancamento/form.pug