extends ../layout.pug

block append content

    form(role="form" method="POST" id="form-cadastro" autocomplete="off")
        div.box-body

            div.col-xs-12.col-md-12
                div#inner-cliente-autocomplete

            div.col-xs-12.col-md-12
                div#inner-cabecalho-pedido

            

            div.col-xs-12.col-md-12
                div#inner-produto-autocomplete

            div.col-xs-12.col-md-12
                div.form-group
                    div#inner-lancamento-produto


            div.col-xs-12.col-md-12
                div.form-group
                    div#inner-produtos-lancados

            
        div.box-footer

            div.btn-toolbar#bloco-btn-lancamento
                button(type="button" class="btn btn-primary btn-lg input-lg" id="save" style={'display' : 'none'}) Salvar
                button(type="button" class="btn btn-success btn-lg input-lg" id="btn-lancar-pedido" style={'display' : 'none'}) Lançar
                button(type="button" class="btn btn-info btn-lg input-lg" id="btn-entregar-pedido" style={'display' : 'none'}) Marcar como Entregue
                button(type="button" class="btn btn-danger btn-lg input-lg" id="btn-cancelar-pedido" style={'display':'none'}) Cancelar
                a.btn.btn-lg.input-lg.btn-default#btn-print(href="#"): i.fa.fa-print