$blue: #b3b3ff;
$yellow: #e6e600;
$grey:#e0e0d1;
$green: #27ae60;
$white: #FFF;

.row-green {background-color: $green !important;}
.row-grey{background-color:$grey !important}
.row-yellow{background-color: $yellow !important}
.row-blue {background-color: $blue !important}



.color-white{color: $white !important}
.color-blue{color: $blue !important}
.color-grey{color:$grey !important}
            