script(type="template" id="template-autocomplete-bancos")
    p
        strong (<%= codigo  %>) | <%= descricao %>

script(type="template" id="template-autocomplete-volumes")
    p
        strong <%= descricao %>

script(type="template" id="template-autocomplete-tipos-unidades")
    p
        strong <%= descricao %>        

