div#inner-content-children-inventario

<script></script>

script(type="template" id="template-children-cadastro-list-inventario")
    include include-lista/list.pug

<script></script>

script(type="template" id="template-children-cadastro-inventario")
    include include-lancamento/form.pug