div#block-sincronizacao-ecommerce
    div.row
        div.col-xs-12
            div.box.box-primary
            
                div.box-header.with-border
                    h3.box-title Sincronização Ecommerce

                div.box-body

                    div.row
                        div.col-xs-12
                            a.btn.btn-app.btn-sync(url="grupos")
                                i.fa.fa-home
                                |Grupos

                            a.btn.btn-app.btn-sync(url="produtos")
                                i.fa.fa-plus
                                |Produtos